.header {
    width: 100%;
    min-height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: header-transition linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;



}


.header-container {
    max-width: 1070px;
    min-height: 70px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes header-transition {
    to {
        background: #24243ea9;
        backdrop-filter: blur(5px);
    }
}


/* ===> HEADER NOMBRE<=== */

.header-title {
    font-size: 1.4rem;
    font-family: "Aldrich", sans-serif;

    span {
        color: var(--CLR-1);
    }
}

/* ===> HEADER NAV<=== */

.header-nav {
    display: flex;

    ul {
        display: flex;
        gap: 1.8rem;

        li {
            a {
                color: var(--CLR-1);
                font-size: 1.4rem;
                font-family: "Aldrich", sans-serif;
                transition: all 0.3s ease;

            }

            a:hover {
                color: var(--CLR-2);
            }
        }
    }
}

/* ===> HEADER REPONSIVO<=== */

.burger-button {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    cursor: pointer;
    gap: 0.3rem;
    background: none;
    border: none;

    span {
        display: block;
        width: 30px;
        height: 4px;
        background: white;
        transition: transform 0.3s ease-in-out
    }
}

.burger-button.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger-button.open span:nth-child(2) {
    opacity: 0;
}

.burger-button.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
