.Inicio {
    width: 100%;
    min-height: auto;
    padding-top: 5.4rem;
    margin: auto;
    
}

.home-central {
    display: grid;
    grid-template-columns: 1fr 40%;
    gap: 1.9rem;
}

/* apartado de texto */

.home-texto h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: "Aldrich", sans-serif;
}


.home-texto h2 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

.home-texto span {
    color: var(--CLR-1);
}

.home-texto p {
    font-size: 24px;
    margin-bottom: 2.5rem;
}

/* Apartado de los botones  */ 

.button-enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
}

.CV {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--TEXTO-DST);
    border: 2px ridge var(--TEXTO-DST);
    border-radius: 16px;
    padding: 6px 10px;
    
}

.About {
    background-color: #000000;
    padding: 12px 20px;
    border-radius: 16px;
}

/* apartado de la imagen */

.user-img {
    position: relative;
    
}

.user-img img{
    width: auto;
    height: 400px;
    z-index: 1;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out; 
}

.user-img img:hover {
    box-shadow: 0 5px 8px rgba(255, 255, 255, 0.493);
}

.user-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 74%;
    height: 400px;
    
    border-radius: 1rem;
    z-index: -1;
    transform: translate(45px, 35px);
}

/* ===> HOME NUMBER <=== */

.sección-estadísticas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin-top: 1.6rem;
}

.info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.info h3 {
    font-size: 4rem;
}