/* ===> Terminado<=== */

.Inicio {
    width: 90%;
    min-height: 50vh;
    padding: 3.6rem 0;
    margin: auto;

}

.home-central {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;

    & .home-texto {
        flex: 0 0 60%;
        max-width: 60%;
    }

    & .user-img {
        flex:  0 40%;
        max-width: 40%;
    }
}

/* ===> Apartado para los texto<=== */

.home-texto {

    h1,
    h2,
    p {
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 3rem;
        font-weight: 600;
        font-family: "Aldrich", sans-serif;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 500;
    }

    p {
        font-size: 1.5rem;
        line-height: 1.6;
    }

    strong {
        color: var(--CLR-1);
    }
}


/* ===> Apartado de los botones<=== */

.button-enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;

    .CV {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        border: 2px solid var(--CLR-1);
        color: var(--CLR-1);
        border-radius: 9999px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
            /* Usando transform para hacer el efecto de escala */
        }
    }
}


/* ===> Apartado para la imagen<=== */

.user-img {
    display: flex;
    justify-content: center;

    img {
        max-width: 100%;
        height: 360px;
        border-radius: 1rem;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 5px 8px rgba(255, 255, 255, 0.493);
        aspect-ratio: 735/898;

        &:hover {
            transform: scale(1.05);
            /* Aumenta un 5% */
        }
    }

}


/* ===> APARTADO DE REPONSI <=== */

@media (max-width: 680px) {

    .home-central {
        display: flex;
        flex-direction: column-reverse;

        & .home-texto {
            flex: 0 0 90%;
            max-width: 90%;
        }
    
        & .user-img {
            flex: 0 0 90%;
            max-width: 90%;
        }
    }

    .home-texto {
    
        h1 {

            font-size: 2.5rem;
            & span {
                display: block;
            }
        }
    
        h2 {
            font-size: 2.2rem;
        }
    
    }
    
}

